/*
Theme Name: Biolotus
Theme URI: https://www.biolotus.com/
Author: Codemax Sistemas
Author URI: https://www.codemax.com.br/
Description: Novo site da Biolotus
Version: 2.0

Tags: black, blue, gray, red, white, yellow, dark, light, one-column, two-columns, right-sidebar, fixed-layout, responsive-layout, accessibility-ready, custom-background, custom-colors, custom-header, custom-menu, editor-style, featured-images, flexible-header, microformats, post-formats, rtl-language-support, sticky-post, threaded-comments, translation-ready
Text Domain: biolotus

This theme, like WordPress, is licensed under the GPL.
Use it to make something cool, have fun, and share what you've learned with others.
*/

body{
	background: url(images/bg_pattern.png) #eee;
	font-family: "Roboto", Arial, Helvetica, sans-serif;
}

.linguas ul {
    list-style: none;
    float: right;
    margin-bottom: 0px;
    margin-top: 5px;
}

.linguas ul li {
    display: inline;
    text-transform: uppercase;
    padding: 2px;
}

.linguas ul li.active {
    font-weight: bold;
    background: #fff;
    padding: 0 5px;
    color: #00a651 !important;
    border-radius: 3px;
}

.linguas ul li a {
    color: #fff;
    font-size: 11px !important;
}

.linguas ul li.active a {
    color: #00a651;
}

a.lang {
    color: #fff;
    font-size: 12px;
    padding: 6px 2px;
    display: inline-flex;
    margin-top: 5px;
}

footer {
    background: #009046;
    overflow: auto;
    padding: 20px 5px;
    color: #fff;
}

p.copyright {
    font-size: 12px;
    margin-bottom: 0px;
}

a.socials {
    color: #b0dcc5;
    font-size: 24px;
    text-decoration: none;
}

a.socials:hover {
    color: #fff;
}

footer span.address, footer span.phone, footer span.email {
    display: block;
    margin-bottom: 10px;
}

footer span.email:before {
    content: "\2709";
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    float: left;
    height: 22px;
    font-size: 13px;
    padding: 0 12px 0 3px;
    margin-top: 0px;
}

footer span:last-child {
    margin-bottom: 0px;
}

footer span.phone:before {
    content: "\f095";
    font-family: 'FontAwesome';
    font-style: normal;
    font-weight: normal;
    float: left;
    height: 22px;
    font-size: 18px;
    padding-right: 10px;
    padding-left: 3px;
    margin-top: -3px;
}

footer span.address:before {
    content: "\e062";
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    float: left;
    height: 36px;
    font-size: 18px;
    padding-right: 10px;
}

.banner_page {
    overflow: hidden;
    height: 300px;
    z-index: 0;
}

.banner_page h2 {
    color: #fff;
    margin-top: 153px;
    margin-bottom: 0px;
    font-weight: 300;
    letter-spacing: 0px;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.9);
}

.banner_page h1 {
    color: #fff;
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 70px;
    font-weight: 500;
    letter-spacing: -2px;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.9);
}

header{
    background: #00a651;
    position: relative;
    z-index: 2;
}

.bar_top {
    display: block;
    min-height: 43px;
    text-align: right;
    position: relative;
    z-index: 2;
    padding-top: 5px;
}
.menu{

}
.logo{height: 32px;}

.navbar-brand {
    position: relative;
    clear: both;
    overflow: hidden;
    z-index: 2;
    padding: 0px;
    padding-top: 0px;
    height: 125px;
    line-height: 0px;
    margin: 0px;
    top: 26px;
}

.navbar-brand img {}
.menu li{}
.menu li a{}

.navbar{
    border-radius: 0px;
    background: #fff;
    border: 0px;
    min-height: 40px;
    margin-bottom: 0px;
    -webkit-box-shadow: 0px 10px 38px -8px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 10px 38px -8px rgba(0,0,0,0.75);
    box-shadow: 0px 10px 38px -8px rgba(0,0,0,0.75);
    position: relative;
    z-index: 3;
}

.container {
    position: relative;
    z-index: initial;
}

.conteudo {
    background: #fff;
    padding: 20px;
    font-size: 15px;
    color: #555;
}
.navbar-defautl{}

.noPadding{ padding: 0px; }
.noPadding-left{padding-left:0px;}
.noPadding-right{padding-right: 0px;}

.navbar-nav>li>a{
    padding: 10px;
    font-size: 15px;
}

.scroll_messages{background: rgba(28,28,28,0.6);min-height: 130px;z-index: 1;position: relative;}

.scroll_messages h1 {
    font-size: 30px;
    margin-top: 28px;
    color: #fff;
    font-weight: 500;
    letter-spacing: -1px;
    /* position: absolute; */
    /* z-index: 1000; */
    top: 214px;
    right: 160px;
    /* opacity: 0; */
}

.cb-slideshow,
.cb-slideshow:after { 
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    z-index: 0; 
    list-style: none;
}
.cb-slideshow:after { 
    content: '';
    background: transparent url(../images/pattern.png) repeat top left; 
}